// top section 
.top{
    padding: 10px 0px;
    .top-title{
        background-color: #fefefe;
        p{
            color: #5a5757;
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 20px;
        }
    } 
    
}